h1 {
    text-align: center;
    font-size: 2.5em;
}

h2 {
    text-align: center;
    font-size: 2em;
}

#footer-btns button {
    font-size: 24px;
    padding: 12px 24px;
}

label {
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
}

input[type="submit"] {
    font-size: 20px;
    padding: 10px;
}

form input[type="file"],
form input[type="submit"] {
    font-size: 18px;
    padding: 10px 20px;
}

input[type="file"]::before {
    font-size: 20px;
}
