.my-grid {
  display: inline-grid !important;
  grid-template-columns: 1fr 1fr !important;
}

.btn-xl {
  padding: 50px 100px !important;
  font-size: 40px !important;
  border-radius: 30px !important;
  width: 100% !important;
  justify-content: center !important;
  align-items: center !important;
}
