{% extends 'base.html' %}

{% block title %}
FreqvsFreq
{% endblock %}

:x
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block content %}
<h1>Freq vs Freq</h1>
<p>lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
{% include 'upload_freqvsfreq.html' %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
function select_all() {
    var select = document.getElementById("cond_var");
    var options = select.options;
    var textarea = document.getElementById("mytext");
    var values = [];
    for (var i = 0; i < options.length; i++) {
        if (options[i].value != "select_all") {
            options[i].selected = true;
            values.push(options[i].value);
        }
    }
    textarea.value = values.join(" ");
}

function handle_select() {
    var select = document.getElementById("cond_var");
    var selected_option = select.options[select.selectedIndex];
    if (selected_option.value == "select_all") {
        select_all();
    } else {
        var textarea = document.getElementById("mytext");
        if (textarea.value == "") {
            textarea.value = selected_option.value;
        } else {
            textarea.value += " " + selected_option.value;
        }
    }
}


document.addEventListener("DOMContentLoaded", function() {
    var select = document.getElementById("cond_var");
    select.addEventListener("change", handle_select);
});

</script>
{% endblock %}

{% block footer %}
    <div style="position: fixed; bottom: 100px; right: 100px;">
        <a href="/freqvsfreq/results"><button style="font-size: 20px; padding: 40px 80px;">Run</button></a>
    </div>
{% endblock %}





