{% extends 'base.html' %}

{% block title %}
FreqvsFreq
{% endblock %}

{% block content %}
<div class="px-4 py-5 my-2 text-center">
	<h1 class="display-5 fw-bold text-body-emphasis">Freq vs Freq Analysis</h1>
	<div class="col-lg-6 mx-auto">
	<p class="lead mb-4">Check how much the predictions for the target variable differ with respect to the categories of a "root variable", overall and conditioned to the categories of other selected predictors. <br>
    Using the max as aggregating function, you are checking the "worst case scenario".
    Using the min as aggregating function, you are checking the "best case scenario".</p>
</div>
{% include 'bias/upload_freqvsfreq.html' %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/handle_parameters.js') }}"></script>
<script type="text/javascript">
function handle_stdev() {
    let data = new FormData();
    var rootvar = document.getElementById("root_var");
    var selected_option = rootvar.options[rootvar.selectedIndex];
    data.append("rv_selected", selected_option.value);
    const freqvsfreq_url = "http://" + "{{ local_ip }}" + ":5000/bias/freqvsfreq";
    const stdev_id = document.getElementById("stdev-label");
    console.log(stdev_id.outerHTML)
    console.log(selected_option.value)
    fetch(freqvsfreq_url, {
    "method": "POST",
    "body": data
        }).then((response) => response.json())
        .then((data) => stdev_id.outerHTML = data.response)
};

document.addEventListener("DOMContentLoaded", function() {
    var disabfromroot = document.getElementById("root_var");
    disabfromroot.addEventListener("change", handle_stdev);
});
</script>
{% endblock %}

{% block footer %}
    <div class="modal-footer">
        <a href="/bias/freqvsfreq/results"><button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Run</button>
    </div>
{% endblock %}
