<div class="row">
    <div class="col-3">
        <input type="number" class="form-control" placeholder="" name="prob_a_0" id="prob_a_0" min="0" max="1" step=".01">
    </div>
    <div class="col-3">
        <input type="number" class="form-control" placeholder="" name="prob_a_1" id="prob_a_1" min="0" max="1" step=".01">
    </div>
    <div class="col-3">
        <input type="number" class="form-control" placeholder="" name="prob_b_0" id="prob_b_0" min="0" max="1" step=".01">
    </div>
    <div class="col-3">
        <input type="number" class="form-control" placeholder="" name="prob_b_1" id="prob_b_1" min="0" max="1" step=".01">
    </div>
</div>
