{% extends 'base.html' %}

{% block title %}
Homepage
{% endblock %}

 {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
 {% endblock %}

{% block content %}
<h1>BRIO X Alkemy</h1>
<p>lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
{% include 'upload_home.html' %}
{% endblock %}

{% block footer %}
<div id="footer-btns" style="text-align: center;">
    <a href="/freqvsfreq" style="display: inline-block; margin-right: 20px; bottom: 200px; right: 200px;"><button>Freq vs freq analysis</button></a>
    <a href="/freqvsref" style="display: inline-block; bottom: 200px; right: 200px;"><button>Freq vs ref analysis</button></a>
</div>
{% endblock %}


