{% block content %}
<form action="{{ url_for('freqvsref') }}" method="POST" enctype="multipart/form-data">
    <fieldset>
	<legend>Select a distance:</legend>
        <div class="btn-group">
            <input type="radio" class="btn-check" name="distance" id="distance1" value="TotalVariation" autocomplete="off" checked>
            <label class="btn btn-success btn-lg" for="distance1">TotalVariation</label>
            <input type="radio" class="btn-check" name="distance" id="distance2" value="KLDivergence" autocomplete="off">
            <label class="btn btn-success btn-lg" for="distance2">KLDivergence</label>
        </div>
    </fieldset><br><br>
    <fieldset>
	<legend>Select an aggregation function:</legend>
        <div class="btn-group">
            <input type="radio" class="btn-check" name="agg_func" id="agg_func1" value="min" autocomplete="off" checked>
            <label class="btn btn-success btn-lg" for="agg_func1">Min</label>
            <input type="radio" class="btn-check" name="agg_func" id="agg_func2" value="max">
            <label class="btn btn-success btn-lg" for="agg_func2">Max</label>
            <input type="radio" class="btn-check" name="agg_func" id="agg_func3" value="mean">
            <label class="btn btn-success btn-lg" for="agg_func3">Mean</label>
            <input type="radio" class="btn-check" name="agg_func" id="agg_func4" value="stdev">
            <label class="btn btn-success btn-lg" for="agg_func4">Stddev</label>
        </div>
    </fieldset><br><br>
    <legend>Select other parameters:</legend><br><br>
    <label for="slider">Threshold:</label>
    <input type="range" name="Slider" min="0" max="1" step="0.05" oninput="this.form.amountInput.value=this.value" />
    <input type="number" name="amountInput" min="0" max="1" step="0.05" oninput="this.form.amountRange.value=this.value" />
    <input type="checkbox" class="form-check-input" name="auto_thr" id="auto_thr" value="active">
    <label class="form-check-label" for="auto_thr">Set automatic threshold</label><br><br>
    <label for="predictions">Predictions:</label>
	<select class="selectpicker" data-style="btn-info" name="predictions" id="predictions">
        {% for item in var_list -%}
		<option value="{{item}}">{{ item }}</option>
        {%- endfor %}
    </select><br><br>
    <label for="root_var">Root Variable:</label>
    <select class="selectpicker" data-style="btn-info" name="root_var" id="root_var">
        {% for item in var_list -%}
            <option value="{{item}}">{{ item }}</option>
        {%- endfor %}
    </select><br><br>
    <label for="cond_var">Conditioning variables:</label>
    <select class="selectpicker" data-style="btn-info" name="cond_var" id="cond_var" multiple data-actions-box="true">
        {% for item in var_list -%}
            <option value="{{item}}" >{{ item }}</option>
        {%- endfor %}
    </select>
    <textarea class="form-control w-50 mx-auto mt-2" rows="3" name="mytext" id="mytext"></textarea><br>
    <label for="ref_dist">Reference distributions:</label><br>
    <div class="row" id="ref_dist">
	<div class="col-3">
            <input type="number" class="form-control" placeholder="male_0_ref" name="prob_a_0" id="prob_a_0" min="0" max="1" step=".01">
        </div>
	<div class="col-3">
            <input type="number" class="form-control" placeholder="male_1_ref" name="prob_a_1" id="prob_a_1" min="0" max="1" step=".01">
        </div>
	<div class="col-3">
            <input type="number" class="form-control" placeholder="female_0_ref" name="prob_b_0" id="prob_b_0" min="0" max="1" step=".01">
        </div>
	<div class="col-3">
            <input type="number" class="form-control" placeholder="female_1_ref" name="prob_b_1" id="prob_b_1" min="0" max="1" step=".01">
        </div>
    </div>
    <input class="btn btn-primary btn-lg mb-3 mt-3" type="submit" value="Upload">
</form>
{% endblock %}
