

{% block content %}
<form action="{{ url_for('freqvsfreq') }}" method="POST" enctype="multipart/form-data">
    <label for="distance">Distance:</label>
    <input type="file" name="distance"><br><br>
    <label for="agg_func">Aggregation Function:</label>
    <input type="file" name="agg_func"><br><br><br><br>
    <label for="slider">Threshold:</label>
    <input type="range" name="Slider" min="0" max="1" step="0.05" oninput="this.form.amountInput.value=this.value" />
    <input type="number" name="amountInput" min="0" max="1" step="0.05" oninput="this.form.amountRange.value=this.value" /><br><br>
    <label for="root_var">Root Variable:</label>
    <select name="root_var">
        {% for item in list1 -%}
            <option value="{{item}}">{{ item }}</option>
        {%- endfor %}
    </select><br><br>
    <label for="cond_var">Conditioning variables:</label>
    <select name="cond_var" id="cond_var">
        {% for item in list1 -%}
            <option value="{{item}}">{{ item }}</option>
        {%- endfor %}
    </select>
    <textarea name="mytext" id="mytext"></textarea><br><br>
    <script type="text/javascript">
	var mytextbox = document.getElementById('mytext');
	var mydropdown = document.getElementById('cond_var');

	mydropdown.onchange = function(){
	      mytextbox.value = mytextbox.value + this.value + " "; //to appened
	     //mytextbox.innerHTML = this.value;
	}
    </script>
    <input type="submit" value="Upload">
</form>
{% endblock %}
